.login-form-container {
  width: 25%;
  margin: 50px auto;
  text-align: center;
}

.login-form-container form {
  margin: auto;
}

.login-form-container form input {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
}

.google-btn {
  width: 100%;
  margin: 15px auto;
  padding: 15px;
}
